<!-- Edit Toy Form -->
<div class="alert alert-success">
  <strong>Edit Toy Detail</strong>
</div>


<%= form_for @toy, :url =>{:action => "update", :id =>@toy} do |f| %>

<p>Title: <%= f.text_field 'title' %></p>
<p>Price: <%= f.text_field  'price' %></p>
<p>Type: <%= f.collection_select :type_id, Type.all, :id, :name %></p>
<p>Description<br/>

<%= f.text_area 'description' %></p>
<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list' } %>