<!-- Shows list of Toys and Categories -->
<div class="alert alert-success">
  <strong>Toy List.</strong> 
</div>
<ul id = "types">
   <% Type.all.each do |c| %>
   <li><%= link_to c.name, :action => "show_types", :id => c.id %></li>
   <% end %>
</ul>

<% if @toys.blank? %>
<h3>There are not any Toys currently in the system.</h3>
<% else %>
<h3>These are the current Toys in our system</h13>

<ul id = "toys">
   <% @toys.each do |c| %>
   <li>
   <%= link_to c.title, {:action => 'show', :id => c.id} -%>
   <b> <%= link_to 'Edit', {:action => 'edit', :id => c.id} %></b>
   <b> <%= link_to "Delete", {:action => 'delete', :id => c.id},
      :confirm => "Are you sure you want to delete this item?" %></b>
</li>
   <% end %>
</ul>



<% end %>
<button type="button" class="btn btn-success"><%= link_to "Add new Toy", {:action => 'new' }%></button>
<p></p>