<!-- Show list of Toys and typess -->
<div class="alert alert-success">
  <strong>Create List</strong><%= @toy.title %> 
</div>

<p>
   <strong>Price: </strong> $<%= @toy.price %><br />
   <strong>Types: </strong> <%= link_to @toy.type.name,
:action => "show_types", :id => @toy.type.id %><br />
   <strong>Created Date:</strong> <%= @toy.created_at %><br />
</p>

<p><%= @toy.description %></p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>